*{
	box-sizing:border-box;
	margin:0 0 0 0;
	padding:0 0;
	/*   */
}
.clearfix:after {
	content: '';
	display: block;
	clear: both;
	visibility: hidden ;
}
#header{
	width:100%;
	height:35px;
	margin:0 auto;
}
#container{
	margin-top:1% 0;
	width:100%;
	height:100%;
	background-color: #ffffff;
}
i.icon-Blog{
	font-size: 22px;
}
#logo{
	float:left;
	margin-top:0.5%;
	margin-left: 1%;
	width:30px;
	height:30px;
}
#logo a img{
	width:88%;
	height:auto;
}
#title{             /* myblog*/
	float:left;
	height:60%;
	/* width:80px; */
	width:12%;
	margin:2% 4% 0 1%;
	font-size: 15px;
	font-family:Courier New, monospace ;
}
#list li{           /* 导航条链接 */
	float:left;
	list-style-type: none;
	font-size: 1px;
	margin:3% 2% 0 0;
}
#list li a{
	text-decoration: none;
	color: #8F4113;
}
#list li a:hover{
	color: #ce393c;
}
#select_menu{
	position:absolute;
	width:9%;	
}
#list li:hover #select_menu li{
	display:block;
}
#select_menu li{
	color: #94321e;
	display:none;
	width:100%;
	margin-top: 2px;
	float:left;
	background-color: #efefef;
}
#select_menu li:hover{
	color: red;
}
#search input{                /* 搜索框 */
	float:left;
	/* width:100%; */
	height:19px;
	width:8%;
	margin:2% 0 0 0.5%;
	padding:0;
	border-radius: 5px;
}
#search a img{
	opacity:0;
	display:block;
	float:left;
	width:0;
	height:auto;
	margin:2% 6% 0 0;
}
#sign a,#logout a{          /* 登录注册 */
	text-decoration: none;
	color: #8F2600;
	font-size: 1px;
	/* margin: 10px 20px 0 5px; */
	/* margin:10px 40px 20px 20px; */
}
#sign a:hover,#logout a:hover{
	color: #CE393C;
}
#sign,#logout{
	float:left;
	/* width:18%; */
	margin:1% 0 0 1.5%;
	padding:0 0;
}
input[type="checkbox"]{
	outline-style: none;
}
input[type="checkbox"]::after{
	display:block;
	content: 'dark';
}
lable{
	display:inline-block;
	width:20px;
	height:20px;
	border:5px;
	cursor:pointer;
}
#line{
	width:100%;
	height:1px;
	border-top: solid #ACC0Db 1px;
	/* margin-top: */
}
#content{
	width:100%;
	/* background-color: #252525; */
	margin:10px auto;
	padding:0 0;
}
#left{
/* 	float:left; */
	height:auto;
	display:flex;
	flex-direction: column;
	align-items: center;
	position:fixed;
	/* height:400px; */
	width:15%;
	border:1px solid #ACC0DB;
	/* margin-left:0; */
	left:1.5%;
	top:12px;
	z-index: 99;
}
#fold img{
	/* display:block; */
	float:left;
	width:12px;
	height:auto;
	margin-top: 45%;
}
#center{
/* 	float:left; */
	/* height:2000px; */
	float:right;
	display:flex;
	flex-direction: column;
	width:80%;
	border:1px solid #ACC0DB;
	margin-top:1%;
	margin-right:1%;
}
#right{ 
	/* float:left; */
	opacity:0;
	display:flex;
	flex-direction: column;
	position:fixed;
	height:600px;
	width:22%;
	border:1px solid #ACC0DB;
	right:2.5%;
	top:11%;
}
#avatar{            /* 头像*/
	display: flex;
	display: block;
	margin:8% auto 0 auto;
	width:30%;
	height:auto;
}
#username{
	display: flex;
	text-align: center;
	font-size: 1px;
}
#infocolumn{
	display:flex;
	flex-direction:column;
	align-items: center;
	justify-content:center;
	width:100%;
}
.info{
	display: flex; 
	/* float:left; */
	flex-direction: column;
	font-size: 1px;
	width:80%;
	margin:10% 5%;
	padding:0 0;
}
.info p{
	text-align: center;
}
.info p a{
	text-decoration: none;
	color: #8F2600;
}
.info p a:hover{
	text-decoration: none;
	color: #CE393C;
}
#location img{
	margin:10px 0 0 20px;
}
#location a{
	text-decoration: none;
	color: #8F4113;
}
#center h1{
	text-align: center;
}
.blog{
	width:90%;
	/* height:500px; */
	margin:10px auto;
	border:solid 1px;
	border-color: #252525;
	/* font-size:25px; */
}
.text{
	/* border:1px solid; */
	font-size:3px;
	width:90%;
	margin:15px auto;
}
.blog .title a{
	font-size: 14px;
	text-decoration: none;
	color: #ACC0DB;
}
.blog .title{
	font-size: 14px;
	text-decoration: none;
	color: #ACC0DB;
}
.sub{
	font-size:8px;
	margin-left:20px;
	color: #d9d6db;
}
.sub {
	font-size:8px;
	margin-left:20px;
	color: #d9d6db;
}
.sub span a{
	text-decoration: none;
	color: #d9d6db;
	font-size:10px;
}
.sub a:hover{
	color: #ACC0DB;
}
.blog a{
	dispaly:block;
	/* text-align:center; */
	font-size:40px;
	color: #444444;
	text-decoration: none;
	margin:10px auto;
}
.blog a:hover{
	text-decoration: double;
	color: #8F2600;
}
.img img{                       /*    ???     */
	display:block;
	margin:15px auto;
	width:70%;
	height:auto;
}


/* .view{
	float:left;
	width:100%;
	height:17%;
}
.view img{
	float: left;
	margin:5px 5px;
	padding:0 0;
	width:25%;
	height:auto;
}
.view div{
	margin:0px 10px;
	padding-right: 0;
	width:60%;
}
.tview a{
	text-decoration: none;
	padding:0 0;
	font-size: 5px;
	color: #8F4113;
}
.tview a:hover{
	color: #8F2600;
}

.tview{
	padding:0 0;
	float: left;
	font-size: 5px;
	margin: 2px 0 ;
}
.rtitle{
	font-size:15px;
	width:100%;
	padding:0 0;
} */

.view{
	
	width:100%;
	height:15%;
	margin:0px 0;
}
.view img{
	display:block;
	float:left;
	width:35%;
	height:auto; 
}
.tview{
	float:left;
	margin:0px; 5px;
	width:65%;
	padding:0 0;
}
.tview p{
	font-size: 5px;;
	margin:3px 0;
}
.tview p:first-child{
	margin:0 0;
}

.tview p a{
	text-decoration: none;
	color: #8F2600;
}

.tview p a:hover{
	color: #CE393C;
}

.context{
	margin: 10px 15px;
}
.context img{
	display:block;
	width:90%;
	height:auto;
	margin:10px auto;
}
.backtop img{
	display: block;
	position:fixed;
	left:2%;
	top:90%;
	width:3%;
	height:auto;
}


.sortlable{
	display:block;
	float:left;
	margin:5px 3% 0 3%;
	border:3px solid #7397ad;
	background-color: #7397ad;
	border-radius:5px;
}
.sortlable a{
	text-decoration: none	color:black;
	font-family: "arial black";
	text-decoration: none;
	color:#515151;
}
.sortlable a:hover{
	color: #8F2600;
}
#sortcenter{
	width:50%;
	border:1px solid #ACC0DB;
	margin:8px auto;
	height:400px;
}
#newcenter{
	width:50%;
	border:1px solid #ACC0DB;
	margin:8px auto;
	height:420px;
}
#newcenter p{
	font-size: 3px;
	margin-top:5px;
	margin-left:5px;
	margin-bottom:5px;
}
#newcenter input{
	border-radius:5px;
	margin:5px 0 5px 5px;
}
#text{
	width:90%;
	height:55%;
}
#newcenter textarea{
	margin-left:5px;
}
#newcenter button{
	margin:3px 0 0 5px;
	border-radius: 3px;
	border:0;
	background-color: #7397AD;
	width:45px;
	height:22px;
}
#newcenter h2{
	margin-left:5px;
	margin-top:3px;
}

#myinformation{
	width:1200px;
	margin:10px auto;
}
